name: GPT Commits summarizer
# Summary: This action will write a comment about every commit in a pull request, containing major points
# Add a comment

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  summarize:
    runs-on: ubuntu-latest

    steps:
      - uses: KanHarI/gpt-commit-summarizer@feature/pr-summaries-p4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
